absl-py==1.4.0
astroid==2.5.1
astunparse==1.6.3
async-generator==1.10
attrs==22.2.0
Automat==22.10.0
beautifulsoup4==4.11.2
black==22.3.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
chromedriver-autoinstaller==0.4.0
click==8.1.2
constantly==15.1.0
cryptography==39.0.2
cssselect==1.2.0
exceptiongroup==1.1.0
filelock==3.10.0
flatbuffers==23.3.3
gast==0.4.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.3
h11==0.14.0
h5py==3.8.0
hyperlink==21.0.0
idna==3.4
importlib-metadata==6.0.0
incremental==22.10.0
isort==5.7.0
itemadapter==0.7.0
itemloaders==1.0.6
jmespath==1.0.1
keras==2.11.0
lazy-object-proxy==1.5.2
libclang==15.0.6.1
lxml==4.9.2
Markdown==3.4.1
MarkupSafe==2.1.2
mccabe==0.6.1
mypy-extensions==0.4.3
mysql-connector-python==8.0.23
mysql-connector-python-rf==2.2.2
mysqlclient==2.1.1
numpy==1.24.2
oauthlib==3.2.2
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.0
parsel==1.7.0
pathspec==0.9.0
Pillow==9.4.0
platformdirs==2.5.2
Protego==0.2.1
protobuf==3.15.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.7
pylint==2.7.2
PyMySQL==1.0.2
pyOpenSSL==23.0.0
PySocks==1.7.1
python-dotenv==1.0.0
queuelib==1.6.2
requests==2.28.2
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.9
Scrapy==2.8.0
selenium==4.8.2
service-identity==21.1.0
six==1.15.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
tldextract==3.4.0
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.9.2
Twisted==22.10.0
typing_extensions==4.2.0
urllib3==1.26.14
w3lib==2.1.1
webdriver-manager==3.8.5
Werkzeug==2.2.3
wrapt==1.12.1
wsproto==1.2.0
zipp==3.15.0
zope.interface==5.5.2
